<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link href="https://fonts.googleapis.com/css?family=Caveat:400,700" rel="stylesheet">
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
<script src="{{url_for('static', filename='piechart.js')}}"></script>
<title> White Leaf | Logout </title>
<link rel="shortcut icon" href="static/css/images/Favicon.png" type="image/x-icon" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">


   <header>

        <div class="header">
            <nav class="fixed-nav-bar">
                <center>
                <ul class="navbar-new">


                    <li>
                        <img id="logo-nav" src="static/css/images/LS Blanc.png">
                    </li>
                    <li role="presentation" class="name-nav">
                       Leadersante
                    </li>

                </ul>
                </center>
            </nav>
        </div>


 </header>
<body ng-controller="RegisterCtrl" ng-app="myApp">
 <div class="container">
   <div id="signup">
      <div class="signup-screen col-sm-6 col-sm-offset-3">
         <div class="space-bot text-center titles-login">
            <p>VOUS AVEZ ETE DECONNECTE</p>

           <div class="divider"></div>
         </div>

              <div class="space-top text-center">
               <a href="/"><button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn primary">
               <i class="material-icons left">account_circle</i>Reconnectez vous
               </button></a>
              </div>
             </form>
           </div>
        </div>
    </div>
</body>



 <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>